:root{
    --color-white: beige;
    --color-lightg: lightgrey;
    --color-orange1: rgb(241,134,11) ;
    --color-orange2: rgb(243,159,6);
    --color-main2: rgb(24, 127, 121);
    --color-main3: rgb(66, 185, 181);
    --color-main4: rgb(139, 206, 213);
    --color-black: black;
    --color-ws: rgb(199, 199, 199);
    
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, rgb(139, 206, 213),rgb(66, 185, 181));
    color: whitesmoke ;

}

.logo{
    width: 80px;
}

.header, .navigation-header{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header{
    background-color: var(--color-lightg);
    box-shadow: 1px 1px 4px black ;
    height: 3.5em;
    justify-content: space-between;
    padding: 0 10%;

}

.navigation-header{
    gap: 3em;
    z-index: 2;
}

.navigation-header a{
    text-decoration: none;
    color: var(--color-orange1);
    transition: 1s;
    font-weight: bold;

    &:hover{
        background-color: var(--color-ws);
        color: var(--color-main3);
        padding: 10px;
        border-radius: 10px;
    }

}


.content{
    text-align: center;
    padding-top: 5em;
    height: 100vh;
    transition: 1s;  
    font-family: 'Source Serif Pro', serif; 
}

.btn_icon_header {

    background-color: transparent;
    border: none;
    color: var(--color-orange1);
    cursor: pointer;
    display: none

}

@media screen and (max-width: 768px) {
    .btn_icon_header{
        display:block;
    }
    .navigation-header{
        position: absolute;
        flex-direction: column;
        top: 0;
        background-color: var(--color-ws);
        height: 100%;
        width: 35vw;
        padding: 16px;
        animation-duration: 1s;
        margin-left: -100vw;
    }
}

@keyframes showSidebar {
    from {margin-left: -100vw}
    to {margin-left: -10vw;}
}

